In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
np.random.seed(42)

In [3]:
days=1000

In [4]:
dates = pd.date_range(start="2022-01-01", periods=days)

In [5]:
study_hours = np.clip(np.random.normal(5, 1.8, days), 0, 10)
sleep_hours = np.clip(np.random.normal(7, 1.2, days), 4, 9)
screen_time = np.clip(np.random.normal(4, 1.5, days), 1, 9)
mood = np.clip(np.random.normal(7, 1.5, days), 1, 10).astype(int)
exercise = np.clip(np.random.normal(30, 15, days), 0, 90)
caffeine = np.random.randint(0, 5, days)
expenses = np.clip(np.random.normal(250, 100, days), 50, 700)

In [6]:
df = pd.DataFrame({
    "date": dates,
    "study_hours": study_hours,
    "sleep_hours": sleep_hours,
    "screen_time": screen_time,
    "mood": mood,
    "exercise_minutes": exercise,
    "caffeine_cups": caffeine,
    "expenses": expenses
})

In [7]:
for i in range(0, days, 250):
    df.loc[i:i+20, "study_hours"] += 2
    df.loc[i:i+20, "sleep_hours"] -= 1
    df.loc[i:i+20, "caffeine_cups"] += 1

In [8]:
df["productivity_score"] = (
    df["study_hours"] * 0.5 +
    df["sleep_hours"] * 0.3 +
    df["exercise_minutes"] * 0.05 -
    df["screen_time"] * 0.2
)

In [9]:
bad_days = np.random.choice(df.index, 8)

df.loc[bad_days, "sleep_hours"] = 3.5
df.loc[bad_days, "study_hours"] = 1
df.loc[bad_days, "mood"] = 3

In [10]:
df.head()

,date,study_hours,sleep_hours,screen_time,mood,exercise_minutes,caffeine_cups,expenses,productivity_score
0,2022-01-01,7.894085,7.679227,2.987233,4,17.047596,1,317.139737,6.505744
1,2022-01-02,6.751124,7.109560,3.783222,5,29.531948,4,367.879633,6.228383
2,2022-01-03,8.165839,6.071556,2.811370,6,30.270253,5,504.346266,6.855625
3,2022-01-04,9.741454,5.223676,3.538058,9,37.089455,4,149.377415,7.584691
4,2022-01-05,6.578524,6.837868,1.159578,7,9.497125,3,263.062741,5.583563

In [11]:
os.makedirs("data", exist_ok=True)

In [12]:
df.to_csv("data/student_behavior_intelligence_dataset.csv", index=False)